
html {
  /*width: 100%;*/
  /*height: 100%;*/
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
ul > li {
  text-align: left !important;
}
body {
  overflow-x:hidden;
  background-color: #D4AD55;
  /*box-shadow: inset 0 0 50px rgba(0,0,0,1);*/
  height: 100%;
  width: 100%;
  font-family: 'Fresca', sans-serif;
  margin: 0;
  padding: 0;
  /*padding-top: 50px;*/
  /*box-shadow: inset 0 0 10000px white;*/
  background-border: solid black 10px;
  background-image: url("http://res.cloudinary.com/sbpolicar/image/upload/v1454362067/newwalldark_q1kbjr.png");
  /*background-image: url("http://res.cloudinary.com/sbpolicar/image/upload/v1454361359/newwall_bxqygg.png");*/
  background-size: 100% 120%;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}
body > div:nth-child(4) {
  width: 100%;
  text-align: center;
  margin: 0 auto;
}
.col-sm-5, .col-sm-7 {
  margin: 0;
  padding: 0;
}
.contact-form {
  width: 75%;
  margin: 0 auto;
}
.main-header {
  background-color: rgba(255,255,255,0.85);
  background-position: bottom;
  background-size: 100% 150%;
}
.sweets.ng-scope > span {
  width: 100%;
  margin: 0 auto;
}
#map {
  height: 350px;
  width: 80%;
  /*float: right;*/
}
.well{

  border-color: black;
  margin: 0 auto;
  width: 50%;
  background-color: rgba(150,150,150,1);
}
.viewport {
  margin: 0 auto;
  height: auto;
  width: 100%;
}
.fine-print {
  width: 100%;
  position: fixed;
  bottom: 0;
  border-top: solid black 1px;
  border-bottom: solid black 1px;
  background: white;
  text-align: center;
}
.header-container{
  /*border-radius: 5px;*/
  /*padding: 15px;*/
  margin: 0 auto;
  /*width: 50%;*/
  /*background-color: rgba(0,0,0,0.5);*/

  /*box-shadow: 0 0 100px rgba(255,255,255,0.5) !important;*/
  text-align: center;
}


hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.25));
}
.images {
  padding: 20px;
}
.icon-btn {
  width: 50px;
  height: 50px;
}
.icon-btn:hover {
  width: 60px;
  height: 60px;
    -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}
.icon {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  /*border: solid black 10px;*/
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}
.icon:hover {
  border: solid black 10px;
}
img {
  /*margin: 0 auto;*/
  /*display: block;*/
  /*height: 400px;*/
  /*width: 100%;*/
}
.event-images {
  height: 100;
}
.title {
    /*letter-spacing: -4px;*/
  font-size: 900%;
  text-shadow:
   -1px -1px 0 #000,
    2px -1px 0 #000,
    -1px 1px 0 #000,
     2px 1px 0 #000;
  color: #D4AD55;
  text-align: center;
}
.title-container {
  width: 50%;
  margin: 0 auto;
}
.main-title{
  -ms-transform: rotate(-20deg);
    -webkit-transform: rotate(-20deg);
    transform: rotate(-20deg);
  /*width: 50%;*/
  /*letter-spacing: -4px;*/
  /*position: absolute;*/
  /*left: 25%;*/
  font-size: 900%;
  text-shadow:
   -1px -1px 0 #000,
    2px -1px 0 #000,
    -1px 1px 0 #000,
     2px 1px 0 #000;
  color: #D4AD55;
  text-align: center;
  /*margin-bottom: -30px;*/
  font-family: vivaldi;
  /*margin-top: 70px;*/
}
.main-subtitle{
  /*width: 50%;*/
  font-size: 900%;
  text-shadow:
   -1px -1px 0 #000,
    2px -1px 0 #000,
    -1px 1px 0 #000,
     2px 1px 0 #000;
  color: #D4AD55;
  /*margin-top: 100px;*/
  text-align: center;
  margin-bottom: -55px;
  font-family: Copperplate, fantasy;
  /*margin-top: 70px;*/
}
.subtitle{
  /*margin-bottom: -24px;*/
  text-align: center;
  text-shadow:
   -1px -1px 0 #D4AD55,
    2px -1px 0 #D4AD55,
    -1px 1px 0 #D4AD55,
     2px 1px 0 #D4AD55;
  color: white;
  font-family: Copperplate, fantasy;
}
.main-subtext{
  /*margin-bottom: -24px;*/
  letter-spacing: .65em;
  text-align: center;
  text-shadow:
   -1px -1px 0 #000,
    2px -1px 0 #000,
    -1px 1px 0 #000,
     2px 1px 0 #000;
  color: #D4AD55;
  font-family: Copperplate, fantasy;
}
.menu-subtitle{
  margin: 0;
  padding: 0;
  /*margin-bottom: -24px;*/
  text-align: center;
  text-shadow:
   -1px -1px 0 #D4AD55,
    2px -1px 0 #D4AD55,
    -1px 1px 0 #D4AD55,
     2px 1px 0 #D4AD55;
  color: white;
  font-family: 'Pacifico', cursive;
}

.nav-container {
  border: solid black 1px;
  margin: 0 auto;
  width: 60%;
  border-radius: 4px;
  text-align: center;
  background-color: rgba(255,255,255,0.85);
  box-shadow: inset 0 0 100px transparent;
}
.navigator {
  margin: 0 auto;
  font-family: 'Pacifico', cursive;
  width: 100%;
  /*float: right;*/
  text-align: center;
  display: flex;
}

.navlink {
  text-decoration: none;
  width: auto;
  /*height: 33%;*/
  color: #D4AD55;
  margin: 0 auto;
  font-size: 2.5em;
  text-shadow:
   -1px -1px 0 black,
    2px -1px 0 black,
    -1px 1px 0 black,
     2px 1px 0 black;
}
.navlink:hover {
  text-decoration: none;
  color: white;
  text-shadow:
   -1px -1px 0 #D4AD55,
    2px -1px 0 #D4AD55,
    -1px 1px 0 #D4AD55,
     2px 1px 0 #D4AD55;
}
.navlink:focus {
  text-decoration: none !important;
  color: white;
  text-shadow:
  -1px -1px 0 #D4AD55,
  1px -1px 0 #D4AD55,
  -1px 1px 0 #D4AD55,
    1px 1px 0 #D4AD55;
}
.vr {
  text-shadow:
   -1px -1px 0 black,
    1px -1px 0 black,
    -1px 1px 0 black,
     1px 1px 0 black;
  /*display: none;*/
  color: white;
  font-size: 40px;
   font-family: 'Fresca', sans-serif !important;

}
.menu {
  margin: 0 auto;
  width: 75% !important;
  height: 200%;
  border: solid black 1px;
  background-color: rgba(255,255,255,0.85);
  border-radius: 4px;
}
ul {
  text-align: left;
}
.fa-caret-down {

  margin-bottom: -20px !important;
}
.activeMenu {
  color: white;
  text-shadow:
  -1px -1px 0 #D4AD55,
  2px -1px 0 #D4AD55,
  -1px 1px 0 #D4AD55,
  2px 1px 0 #D4AD55;
  /*color: white;*/
}
.no-spacing {
  margin: 0 !important;
}
@media (max-width: 700px) {
  *, .header, .special-header, .navigator{
   font-family: copperplate;
  }
  .main-subtext {
    letter-spacing: 0;

  }
  .navlink {
    color: black;
    text-shadow:
    -1px -1px 0 #D4AD55,
  1px -1px 0 #D4AD55,
  -1px 1px 0 #D4AD55,
  1px 1px 0 #D4AD55;
  }
  .activeMenu {
    color: #D4AD55;
    text-shadow:
    -1px -1px 0 white,
  1px -1px 0 white,
  -1px 1px 0 white,
  1px 1px 0 white;
  }
  .bakery-image {
    width: 70%;
  }
  .nav-bar {

  }
  .navlink {
    font-size: 25px;
  }
  .well{
    width: 100%;
  }
  .title, .main-title, .main-subtitle {
    font-size: 400%;
  }
  .media-q-hider {
    display: none;
  }
  .vr {
  margin-top: 7px;
  font-size: 100%;

  }
}
@media (max-width: 999px) {
  .menu {
    width: 100% !important;
  }
  .nav-container {
    width: 100%;
  }
  body {
  background-size: 250% 100%;
  }
  .well{
    width: 90%;
  }
  .title, .main-title, .main-subtitle {
    font-size: 700%;
  }
  .about-us {
  text-align: center;
  }
  .special-orders {
    text-align: center;
  }
  .home {
    text-align: center;
  }
}

