
html {
  /*width: 100%;*/
  /*height: 100vh;*/
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  box-shadow: inset 0 0 1000px black;
}

ul > li {
  text-align: left !important;
  text-shadow: -1px -1px 0 black, 2px -1px 0 black, -1px 1px 0 black, 2px 1px 0 black;

}
ul > h1 {
  color: white;
}

body {
  overflow-x: hidden;
  background-color: white;
  /*box-shadow: inset 0 0 50px rgba(0,0,0,1);*/
  height: 100%;
  width: 100%;
  font-family: 'Fresca', sans-serif;
  margin: 0;
  padding: 0;
  /*padding-top: 50px;*/
  background-border: solid black 10px;
  background-image: url("http://res.cloudinary.com/spolicar/image/upload/v1455134890/misc/bgoverlay.png");
  /*background-image: url("http://res.cloudinary.com/sbpolicar/image/upload/v1454361359/newwall_bxqygg.png");*/
  background-size: 130% 170%;
  background-repeat: no-repeat;
  background-position: center;
  /*background-attachment: fixed;*/
}

body > div:nth-child(4) {
  width: 100%;
  text-align: center;
  margin: 0 auto;
}
a {
  color: #B9AA64;
  text-shadow: -1px -1px 0 black, 2px -1px 0 black, -1px 1px 0 black, 2px 1px 0 black;

}
.home-content {
  /*overflow: hidden;*/
  height: 100%;
  /*padding-bottom: 115px;*/
  /*border-bottom: solid red 5px;*/
}
body > div.container-fluid > ng-view > div > div.col-lg-5.text-center > a {
  text-shadow: none;
}
a:hover {
  text-decoration: none;
  transition: all .3s;
  cursor: pointer;
  color: white;
}
a:focus {
  text-decoration: none;
  color: gray;
}
.overlay {
  box-shadow: inset 0 0 100px black;
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0,0,0,0.5);
  z-index: -1;
}
.col-sm-5,
.col-sm-7 {
  margin: 0;
  padding: 0;
}

.contact-form {
  width: 75%;
  margin: 0 auto;
}

.main-header {
  background-color: rgba(255, 255, 255, 0.85);
  background-position: bottom;
  background-size: 100% 150%;
}

.sweets.ng-scope > span {
  width: 100%;
  margin: 0 auto;
}

#map {
  z-index: 999;
  height: 600px;
  width: 97%;
  text-align: center;
  margin: 0 auto;
  border: solid black 2px;
  border-left: solid black 10px;
  border-right: solid black 10px;
  border-radius: 10px;
  position: absolute;
  animation: slideInRight 1s;
  /*float: right;*/
}
#map.ng-hide {
  animation: fadeOutDown .5s;
}
.well {
  border-color: black;
  margin: 0 auto;
  width: 50%;
  background-color: rgba(150, 150, 150, 1);
}

.viewport {
  /*margin: 0 auto;*/
  /*height: 100%;*/
  /*width: 100%;*/
  /*background-color: rgba(0,0,0,0.5);*/
}
.navlink:nth-child(1){
  border-left: none;
  border-radius: 0 0 10px 0;
}
  .navlink:nth-child(4) {
  border-radius: 0 0 0 10px;
  border-right: none;
}
.fine-print {
  opacity: 0.7;
  /*color: white;*/
  width: 10%;
  /*position: fixed;*/
  /*bottom: 0;*/
  /*left: 0;*/
  /*border-top: solid black 1px;*/
  /*border-bottom: solid black 1px;*/
  /*background: gray;*/
  /*text-align: center;*/
}

.browser-title-container {
  text-align: center;
}

.browser-title {
  /*margin-bottom: -25px;*/
  width: 30%;
  height: 30%;
}
.slide-image-wrap > h1.subtitle {
  margin: 0;
}
.home-image-container {
  /*width: 100vw;*/
  padding-left: 35px;
  overflow: hidden;
  height: 42em;
  /*text-align: center;*/
  /*position: relative;*/
  margin: 0 auto;
}
.home-info-container {
  margin-top: 2.5%;
}
.home-image {
  height: auto;
  max-height: 600px;
  width: 80%;
  text-align: center;
  animation: slideInRight 1s;
  border: solid black 1px;
  box-shadow: 5px 5px 50px black;
  /*border-left: solid black 10px;*/
  /*border-right: solid black 10px;*/
  border-radius: 10px;
  position: absolute;
  margin: 0 auto;
  margin-top: -2.5%;
  /*width: 93%;*/
  /*height: 400px;*/
}
.home-image.ng-leave {
  animation: fadeOutDown 1s;
}
.home-image.ng-enter {
}
.main-image {
  width: 50%;
  height: 50%;
  margin-bottom: -2.5%;
  /*text-align: center;*/
}

.main-image-container {
  margin: 0 auto;
  text-align: center;
  width: 100%;
}
.about-image {
  width: 100%;
  border: solid black 1px;
  /*border-left: solid black 10px;*/
  /*border-right: solid black 10px;*/
  border-radius: 10px;
}
.about-text {
  text-align: center;
  text-shadow: -1px -1px 0 black, 2px -1px 0 black, -1px 1px 0 black, 2px 1px 0 black;
  color: white;
  /*font-family: Copperplate, fantasy;*/
  width: 100%;
  text-align: left;
}
.about-button {
  text-align: center;
  margin: 0 auto;
}
.about-container {
  /*background-color: rgba(0,0,0,0.5);*/
  height: 100%;
}
.about-hr {
  color: white;
  background-color: #B9AA64 !important;
  border: white;
  margin: 5px;
  padding: 0;
  box-shadow: 0 0 50px black;
}
.header-container {
  /*border-radius: 5px;*/
  /*padding: 15px;*/
  margin: 0 auto;
  /*width: 50%;*/
  /*background-color: rgba(0,0,0,0.5);*/
  /*box-shadow: 0 0 100px rgba(255,255,255,0.5) !important;*/
  text-align: center;
}

hr {
  border: 0;
  height: 1px;
  width: 50%;
  margin: 20px auto !important;

  /*background-image: linear-gradient(to right, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.25));*/
  background-color: #B9AA64 !important;
}

.images {
  /*padding: 20px;*/
}
body > div.container-fluid > ng-view > div > div > div.images.ng-scope > div > div.slide-container.col-md-8 > div > h1 {
  margin: 0;
  padding: 0;
  width: auto;
}
.icon-btn {
  width: 50px;
  height: 50px;
}

.icon {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  border: solid black 0px;
  -webkit-transition: .4s;
  -o-transition: .4s;
  transition: .4s;
}

.icon:hover {

  animation: pulse .5s;
  /*border: solid black 5px;*/
  width: 80px;
  /*border-radius: 0;*/
  box-shadow: 0 0 50px rgba(255,255,255,0.5);
}

.home-btn {
  color: black;
  background-color: #B9AA64;
  border: 0;
}
.home-btn:hover {
  background-color: #C0BB91;
}
.event-images {
  height: 100;
}
.event-content {
  /*padding: 3%;*/
}
.event-videos {
  /*width: 33%;*/
  margin: 0;
}
.events-modal {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0,0,0,0.5);
}
.events-modal-image {
  max-height: 75%;
  max-width: 75%;
  margin-top: 2.5%;
  position: relative;
  /*border: solid white 30px;*/
  border-radius: 10px;
  box-shadow: 5px 5px 50px black;
}
.evemts-modal-button-container {
  width: 100%;
  text-align: center;
  margin: 0 auto;
}
.events-modal-button {
  border: none;
  border-radius: 5px;
  /*padding: 20px;*/
  background-color: red;
  z-index: 1000;
}

.events-modal-button:hover {
  transition: all .3s;
  text-align: center;
  background-color: white;
  color: black;
  box-shadow: 0 0 10px white;
}
.events-modal-button > h1 {

  font-family: Copperplate;
  color: black;
  margin: 0;
}
.events-modal-button > h1:hover {
  transition: all .3s;
  color: red
}
body > div:nth-child(5) > ng-view > div > div > div > h1 {
  color: black;
}

.title {
  /*letter-spacing: -4px;*/
  font-size: 900%;
  text-shadow: -1px -1px 0 #000, 2px -1px 0 #000, -1px 1px 0 #000, 2px 1px 0 #000;
  color: #B9AA64;
  text-align: center;
}

.title-container {
  width: 50%;
  margin: 0 auto;
}

.main-title {
  -ms-transform: rotate(-20deg);
  -webkit-transform: rotate(-20deg);
  transform: rotate(-20deg);
  /*width: 50%;*/
  /*letter-spacing: -4px;*/
  /*position: absolute;*/
  /*left: 25%;*/
  font-size: 900%;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, -1px 4px 0 #000;
  color: #B9AA64;
  text-align: center;
  /*margin-bottom: -30px;*/
  font-family: vivaldi;
  /* georgia’s: */
  transform: rotate(345deg);
  border: 0px solid #000000;
  font-family: Vivaldi;
  /*font-size: 250px;*/
  color: #B9AA64;
  margin-bottom: -1.3%;
  /*line-height: 311px;*/
  /*margin-top: 70px;*/
}

.main-subtitle {
  /*width: 50%;*/
  /*letter-spacing: 15px;*/
  font-size: 900%;
  text-shadow: -1px -1px 0 #000, 5px  3px 0 #000, 5px 3px 0 #000, 1px 1px 0 #000;
  color: #B9AA64;
  /*margin-top: 100px;*/
  text-align: center;
  margin-bottom: -55px;
  font-family: Copperplate, fantasy;

  /*margin-top: 70px;*/
}

.subtitle {
  /*margin-bottom: -24px;*/
  text-align: center;
  text-shadow: -1px -1px 0 black, 2px -1px 0 black, -1px 1px 0 black, 2px 1px 0 black;
  color: white;
  font-family: Copperplate, fantasy;
}

.subtitle > a {
  text-decoration: none;
  color: #B9AA64;
}

.subtitle > a:hover {
  cursor: pointer;
  transition: all 0.5s;
  color: white;
}

.subtitle-active {
  color: white !important;
}

.main-subtext {
  /*margin-bottom: -24px;*/
  letter-spacing: .65em;
  text-align: center;
  text-shadow: -1px -1px 0 #000, 2px -1px 0 #000, -1px 1px 0 #000, 2px 1px 0 #000;
  color: #B9AA64;
  font-family: Copperplate, fantasy;
}

.menu-subtitle {
  margin: 0;
  padding: 0;
  /*margin-bottom: -24px;*/
  text-align: center;
  text-shadow: -1px -1px 0 #B9AA64, 2px -1px 0 #B9AA64, -1px 1px 0 #B9AA64, 2px 1px 0 #B9AA64;
  color: black;
  font-family: 'Pacifico', cursive;
  transition: color 0.7s;
}
.menu-subtitle:hover {
  text-shadow: -1px -1px 0 black, 2px -1px 0 black, -1px 1px 0 black, 2px 1px 0 black;
  cursor: pointer;
  color: white;
}
.menu-subtitle-active {
  text-shadow: -1px -1px 0 black, 2px -1px 0 black, -1px 1px 0 black, 2px 1px 0 black;
  color: white;
}
.nav-container {
  margin: 0 auto;
  width: 60%;
  border-radius: 4px;
  text-align: center;
  /*position: fixed;*/

}
.new-hr{
  display: none;
  margin: 0;
  background-color: #B9AA64 !important;
  /*border: solid white 5px;*/
}
.navigator {
  margin: 0 auto;
  margin-top: -20px;
  font-family: 'Pacifico', cursive;
  width: 100%;
  /*float: right;*/
  text-align: center;
  display: flex;
}

.navlink {
  box-shadow: inset 0 0 100px rgba(0,0,0,0.5);
  background-color: rgba(0, 0, 0, 0.15);
  /*border-bottom: solid #B9AA64 1px;*/
  border-right: solid #B9AA64 .5px;
  border-left: solid #B9AA64 .5px;
  border-radius: 0 0 10px 10px;
  text-decoration: none;
  width: 100%;
  text-align: center;
  /*height: 33%;*/
  color: #B9AA64;
  /*margin: 0 auto;*/
  font-size: 2.5em;
  text-shadow: -1px -1px 0 black, 2px -1px 0 black, -1px 1px 0 black, 2px 1px 0 black;
  transition: color 0.7s;
}

.navlink:hover {
  box-shadow: inset 0 0 50px rgba(255,255,255,0.85);
  text-decoration: none;
  color: black;
  text-shadow: -1px -1px 0 #B9AA64, 2px -1px 0 #B9AA64, -1px 1px 0 #B9AA64, 2px 1px 0 #B9AA64;
}

.navlink:focus {
  /*transition: color 1s;*/
  text-decoration: none !important;
  color: black;
  text-shadow: -1px -1px 0 #B9AA64, 1px -1px 0 #B9AA64, -1px 1px 0 #B9AA64, 1px 1px 0 #B9AA64;
}

.vr {
  text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
  /*display: none;*/
  color: white;
  font-size: 40px;
  font-family: 'Fresca', sans-serif !important;
}
.row {
  animation: fadeIn .3s;
}
.gallery-image {
  height: 250px;
  width: 250px;
  padding: 2px;
  background-color: black;
  transition: all 1s;
}
.gallery-image:hover {
  background-color: white;
  border-radius: 25px;
  box-shadow: 0 0 10px white;
}
figure {
  height: 300px;
  width: 300px;
  text-align: center;
  display: inline-block;
  margin: 10px;
}
figcaption {
  font-size: 1.5em;
}
.menu {
  margin: 0;
  /*width: 100%;*/
  /*min-height: 500px;*/
  /*border: solid black 1px;*/
  /*background-color: rgba(255, 255, 255, 0.85);*/
  /*border-radius: 4px;*/
  padding: 0;
}

ul {
  text-align: left;
  padding: 0;
}

ul > * {
  margin: 0;
}
.menu-items {
  border-left: solid #B9AA64 5px;
  text-shadow: -1px -1px 0 black, 2px -1px 0 black, -1px 1px 0 black, 2px 1px 0 black;

}
.fa-caret-down {
  margin-bottom: -20px !important;
}
.spacer {
  visibility: hidden;
}
img.slide {
  text-align: center;
  height: auto;
  width: 80%;
  /*animation: fadeInRight 1s;*/
  border: solid black 1px;
  box-shadow: 10px 10px 50px black;
  /*border-left: solid black 10px;*/
  /*border-right: solid black 10px;*/
  border-radius: 10px;
  max-height: 550px;
  /*margin-bottom: 2.5%;*/
  /*max-width: 450px;*/
}
.dot {
  text-decoration: none;
  text-align: center;
  padding: 2px;
  font-size: 24px;
  /*font-size: 50px;*/
}
.activeMenu {
  color: black;
  box-shadow: inset 0 0 50px rgba(255,255,255,0.5);
  text-shadow: -1px -1px 0 #B9AA64, 2px -1px 0 #B9AA64, -1px 1px 0 #B9AA64, 2px 1px 0 #B9AA64;
  /*color: white;*/
}

.no-spacing {
  margin: 0 !important;
}
.media-q-show {
  display: none;
}

@media (max-width: 999px) {
  .home-image-container {
  height: 32em;
  padding-left: 30px;

  }
  .media-q-hider {
    display: none;
  }
  .browser-title {
    width: 60%;
  }
  .menu {
    width: 100% !important;
  }
  .nav-container {
    width: 100%;
  }
  body {
    background-size: 200% 200%;
    /*background-position: right;*/
  }
  ul {
    text-align: center;
    padding: 0;
  }
  .well {
    width: 90%;
  }
  .title,
  .main-title,
  .main-subtitle {
    font-size: 600%;
  }
  .about-us {
    text-align: center;
  }
  .special-orders {
    text-align: center;
  }
  .home {
    text-align: center;
  }
  .media-q-hider {
    display: none;
  }
}
@media (max-width: 700px) {
  .home-image-container {
  height: 22em;
  padding-left: 20px;

  }
  .col-xs-3 > h1 {
    font-family: copperplate;
  font-size: 1.4em;
  }
  .browser-title {
    width: 100%;
  }
  *,
  .header,
  .special-header,
  .navigator {
    font-family: copperplate;
  }
  body {
    background-image: url("http://res.cloudinary.com/spolicar/image/upload/e_brightness:-20/a_0/v1455134890/misc/WebSite_110_zxypdm.jpg");
    background-size: 100% 100%;
    background-position: top;

  }
  .main-subtext {
    letter-spacing: 0;
  }
  .navlink {
    color: black;
    text-shadow: -1px -1px 0 #B9AA64, 1px -1px 0 #B9AA64, -1px 1px 0 #B9AA64, 1px 1px 0 #B9AA64;
  }
  .activeMenu {
    color: #B9AA64;
    text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white, 1px 1px 0 white;
  }
  .bakery-image {
    width: 70%;
  }
  /*.nav-bar {}*/
  .navlink {
    font-size: 25px;
  }
  .well {
    width: 100%;
  }
  .title,
  .main-title,
  .main-subtitle {
    font-size: 300%;
  }
  .media-q-show {
    display: inline;
  }
  .vr {
    margin-top: 7px;
    font-size: 100%;
  }
}