<div class="about-container container">
    <div class="row">
        <div class="col-sm-6">
    <h1 class="subtitle">About Us</h1>
            <h3 class="about-text">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Located in downtown North Bend in its newly remodeled home of nearly 90 years, Georgia’s Bakery (formerly George’s) offers sweets and savories and a family atmosphere to North Bend residents and visitors.<br>
                <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;We feature old favorites like our maple bars, fritters, apple cinnamon bread, spinach feta quiche, and apple pie along with newcomers like spanakopita, lentil soup, meatball calzone, vegan applesauce cake, cannoli, and <a href="/#/menu">more</a>.
                <br><br>
            <span class="about-button text-center"><a class="btn btn-primary" href="mailto:teodosiadis@comcast.net"><i class="fa fa-envelope"></i>&nbsp;Contact Us!</a></span>
            </h3>
        </div>

        <div class="col-sm-6">
            <img class="about-image" src="http://res.cloudinary.com/spolicar/image/upload/v1455913710/misc/aboutpage.jpg">
        </div>
    </div>
    <hr class="about-hr">
    <div class="row">
        <div class="col-md-6">
            <img class="about-image" src="http://res.cloudinary.com/spolicar/image/upload/v1456167471/misc/WebSite_115.jpg">
        </div>
        <div class="col-md-6">
            <h1 class="subtitle">Calling All Artists</h1>
            <h3 class="about-text">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Have some artwork that you want to sell or display? Georgia's has always featured artwork and photography from local talent. Feel free to <a href="mailto:teodosiadis@comcast.net">contact us!</a></h3>
        </div>
    </div>
</div>