<div class="about-container row">
    <h1 class="subtitle">About Us</h1>

    <div class="col-sm-6">
        <h3 class="about-text pull-right">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Located in downtown North Bend in its newly remodeled home of nearly 90 years, Georgia’s Bakery (formerly George’s) offers sweets and savories and a family atmosphere to North Bend residents and visitors.<br>
            <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;We feature old favorites like our maple bars, fritters, apple cinnamon bread, spinach feta quiche, and apple pie along with newcomers like spanakopita, lentil soup, meatball calzone, vegan applesauce cake, cannoli, and <a href="/#/menu">more</a>.
            <br><br>
        <span class="about-button text-center"><a class="btn btn-primary" href="mailto:teodosiadis@comcast.net"><i class="fa fa-envelope"></i>&nbsp;Contact Us!</a></span>
        </h3>
    </div>

    <div class="col-sm-6">
        <img class="about-image" src="http://res.cloudinary.com/spolicar/image/upload/v1455913710/misc/aboutpage.jpg">
    </div>
</div>