<h1 class="title">Contact</h1>
<div class="well">
    <form>
        <legend>Let us know!</legend>
        <div class="form-group">
            <label>Your Name</label>
            <input type="text" class="form-control" placeholder="Your Name">
            <label>Your E-mail</label>
            <input type="text" class="form-control" placeholder="Your E-mail">
            <textarea class="form-control" placeholder="..."></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>