<h1 class="title">Contact</h1>
<div class="">
    <form class="contact-form">
        <div class="form-group">
            Your Name
            <input type="text" class="form-control" placeholder="Your Name">
            Your E-mail
            <input type="text" class="form-control" placeholder="Your E-mail">
            <label></label>
            <textarea class="form-control" placeholder="..."></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>