<div class="row">
<div class="well">
  <h1>Events</h1>
  <div class="col-sm-5">
    <ul class="list-group">
      <li class="list-group-item"><a>Jazz walk</a></li>
      <li class="list-group-item"><a>Block Party</a></li>
      <li class="list-group-item"><a>Car Show</a></li>
      <li class="list-group-item"><a>Farmer’s Markets (Carnation, Sammamish, Duvall, Maple Valley)</a></li>
      <li class="list-group-item"><a>Twin Peaks Festival</a></li>
      <li class="list-group-item"><a>Twin Peaks Filming</a></li>
      <li class="list-group-item"><a>Wedding Mini Pies (Sharon’s sister)</a></li>
      <li class="list-group-item"><a>Evening Magazine Sept 11</a></li>
      <li class="list-group-item"><a>Car dealer Commercial </a></li>
      <li class="list-group-item"><a>John D Spellman Award Ceremony</a></li>
      <li class="list-group-item"><a>Blues Walk</a></li>
      <li class="list-group-item"><a>Swirl</a></li>
      <li class="list-group-item"><a>Mt Si Football Auction</a></li>
      <li class="list-group-item"><a>Eastside Catholic Homecoming</a></li>
      <li class="list-group-item"><a>Halloween costume day</a></li>
      <li class="list-group-item"><a>12th Man Tailgating Party</a></li>
      <li class="list-group-item"><a>Wedding Beaver Lake Lodge</a></li>
      <li class="list-group-item"><a>Christmas Tree Farm</a></li>
    </ul>
  </div>
  <div class="col-sm-7 list-group-item">
    <li>Images</li>
  </div>
</div>
</div>
  <hr>