<h1 class="title">Events</h1>
<div class="menu">
<div class="row">
  <div class="col-sm-5">
    <div>
      <h3><a>Jazz walk</a></h3>
      <h3><a>Block Party</a></h3>
      <h3><a>Car Show</a></h3>
      <h3><a>Farmer’s Markets (Carnation, Sammamish, Duvall, Maple Valley)</a></h3>
      <h3><a>Twin Peaks Festival</a></h3>
      <h3><a>Twin Peaks Filming</a></h3>
      <h3><a>Wedding Mini Pies (Sharon’s sister)</a></h3>
      <h3><a>Evening Magazine Sept 11</a></h3>
      <h3><a>Car dealer Commercial </a></h3>
      <h3><a>John D Spellman Award Ceremony</a></h3>
      <h3><a>Blues Walk</a></h3>
      <h3><a>Swirl</a></h3>
      <h3><a>Mt Si Football Auction</a></h3>
      <h3><a>Eastside Catholic Homecoming</a></h3>
      <h3><a>Halloween costume day</a></h3>
      <h3><a>12th Man Tailgating Party</a></h3>
      <h3><a>Wedding Beaver Lake Lodge</a></h3>
      <h3><a>Christmas Tree Farm</a></h3>
    </div>
  </div>
  <div class="col-sm-7 event-images">
    <li>Images</li>
  </div>
</div>
</div>
<hr>