  <div class="well">
    <h1 class="header">Georgia’s<br>Bakery / Café  / Deli</h1>
    <h4>(formerly George’s Bakery)</h4>
    <a href="tel:14258880632" class="btn-lg btn-primary">Phone: +1 425-888-0632</a>
    <br><br>
    <a target="_blank" class="subheader" href="https://www.google.com/maps/dir/''/georgia's+bakery/data=!4m5!4m4!1m0!1m2!1m1!1s0x54907c3cae897e7b:0xd8e11c06674be4d9?sa=X&ved=0CHkQ9RcwC2oVChMI7tOPi_aDyQIVAzuICh1oxwZ3">Address: 127 W North Bend Way, North Bend, WA 98045</a>
    <br>

    <iframe id="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2695.734542251558!2d-121.78886468508239!3d47.495084503669105!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x54907c3cae897e7b%3A0xd8e11c06674be4d9!2sGeorge&#39;s+Bakery+%26+Deli!5e0!3m2!1sen!2sus!4v1453346632591" frameborder="0" style="border:0"></iframe>
    <h4>Hours: Tues – Sun   7am – 5pm</h4>
    <h3>"Yes, we make everything on site!"</h3>

  </div><div>